:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark: #1A1A1A;
    --color-grey: #343434;
    --color-brown: #5E5148;
    --color-green: #8F9A87;
    --color-beige: #B9AB9A;
    --color-cream: #F5F5F5;

    --font-main: "STIX Two Text", serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 700;
    --fw-bold: 900;

    --fs-title-desk: 4rem;
    --fs-subtitle-desk: 2.10rem;
    --fs-text-desk: 1.75rem;
    --fs-button-desk: 1.5rem;
    --fs-small-desk: 0.85rem;

}

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.home{
    background-color: var(--color-dark);
    padding-top: 12.5rem;
}

 /* BARRA DE NAVEGACIÓN */
 
header{
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    margin: 1.563rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 3.126rem);
    height: 7.5rem;
    z-index: 9999;
}
.logo{
    display: flex;
    align-items: center;
}

.logo > img{
    height: 11.25rem;
    width: auto;
    display: block;
}
 nav > ul {
    list-style: none;
 }

 .menu-desktop{
    display: flex;
    gap: 2.813rem;
 }
 .menu-desktop > li > a {
    text-decoration: none;
    color:var(--color-white);
    font-family: var(--font-main);
    font-weight: var(--fw-medium);
    font-size: var( --fs-small-desk);
    text-transform: lowercase;
 }

.menu-mobile > li > a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-main);
    font-weight: var(--fw-medium);
    font-size: var(--fs-title-desk);
    text-transform: lowercase;

}
.buscador{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.buscador > i{
    color: var(--color-white);
    font-size: 0.90 rem;
}

.buscador > input{
    background: none;
    border: none;
    border-bottom: 1px var(--color-white) solid;
    color: var(--color-white);
    padding-bottom: 0.188rem;
    outline: none;
    font-size: var(--fs-small-desk);
    font-family: var(--font-main);
    width: 150px;
}

.header-left{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    margin-left: 3.125rem;
}

.btn-tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(../media/img/tickets-texture.webp) ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-white);
    font-size: var(--fw-medium);
    font-family: var(--font-main);
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    width: 240px;
    height: 70px;
    border: none;
}