:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark: #1A1A1A;
    --color-grey: #343434;
    --color-brown: #5E5148;
    --color-green: #8F9A87;
    --color-beige: #B9AB9A;
    --color-cream: #F5F5F5;
}
