:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark: #1A1A1A;
    --color-grey: #343434;
    --color-brown: #5E5148;
    --color-green: #8F9A87;
    --color-beige: #B9AB9A;
    --color-cream: #F5F5F5;

    --font-main: "STIX Two Text", serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 700;
    --fw-bold: 900;

    --fs-title-desk: 4rem;
    --fs-subtitle-desk: 2.10rem;
    --fs-text-desk: 1.75rem;
    --fs-button-desk: 1.5rem;
    --fs-small-desk: 0.85rem;

}

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 /* BARRA DE NAVEGACIÓN */
 
header{
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    margin: 1.563rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 3.126rem);
    height: 7.5rem;
    z-index: 9999;
}
.logo{
    display: flex;
    align-items: center;
}

.logo > img{
    height: 11.25rem;
    width: auto;
    display: block;
}
